* {
  font-family: Arima, sans-serif;
}

body {
  background-color: #fbf3e4;
  margin: 0;
}

button {
  background-color: #282a36;
  color: #fffcf6;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  border: none;
  transition: transform 0.5s ease;
}
button:hover {
  transform: scale(1.07);
}
a {
  size: auto;
  text-decoration: none;
  color: #282a36;
}
a:hover {
  color: #ec8f87;
}

.shadow {
  box-shadow: 2px 1px 5px #fff, -15px 15px 15px rgba(112, 112, 110, 255);
}

/* header */
header {
  background-color: #fbf3e4;
  position: sticky;
  top: 0;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
  padding: 0 4rem;
  z-index: 10;
  font-size: 1.2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  margin: auto 1rem;
}

.profile-pic {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
}

.logo {
  object-fit: scale-down;
  height: 5rem;
  width: 7rem;
}
/* header end */

/* hero */
.hero {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "title pic";
  justify-items: center;
  align-items: center;
  padding: 3rem;
}

.hero-title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3rem;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
}
.hero-img {
  grid-area: pic;
  border-radius: 10px;
  height: 30rem;
  animation-name: page;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* hero end */

/* products */
.products-section {
  padding: 0rem 5.5rem;
}

.products-container {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 11rem;
  padding: 2rem;
  margin: 0.5rem;
}

.book-cover {
  width: 10rem;
  height: 15rem;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.book-cover:hover {
  transform: scale(1.5);
}
/* products end */

/* reviews */
.customer-reviews {
  display: flex;
  flex-direction: column;
  padding: 2rem 5.5rem;
}

.reviews-container {
  display: flex;
  justify-content: space-between;
}

.review {
  border-radius: 7px;
  width: 20%;
  padding: 1rem;
  background-color: #282a36;
  color: #fcf9f5;
}
/* reviews end */

/* newsletter */
.newsletter-section {
  background-color: #ffc7c294;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  margin: 1.5rem 5rem;
  padding: 4rem;
  font-size: 1.3rem;
}
.newsletter-section h3 {
  margin: 0.1rem;
}
.newsletter-section p {
  margin: 0 0 2rem 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}
input {
  background-color: #fffcf6;
  border: none;
  width: 20rem;
  height: 3rem;
  text-align: center;
  border-radius: 10px;
  margin: 1rem;
  font-size: 1rem;
}
/* newsletter end */

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #5f7367c0;
  color: #fbf3e4;
  font-size: 1.2rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links a {
  color: #fbf3e4;
}
.footer-links ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info ul {
  justify-content: center;
  padding: 0;
}

.contact-info img {
  width: 35px;
}
/* footer end */

/* Animation */
@keyframes page {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    content: url("../images/chamber-of-secrets-page-2.jpg");
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
}

/* Responsiveness */
@media only screen and (max-width: 1000px) {
  .hero {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "pic";
    grid-row-gap: 2rem;
  }
  .hero-title {
    width: 80%;
  }
  .hero-img {
    width: 80%;
    height: auto;
  }
  article {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  div {
    margin: 1rem;
  }
  .review {
    width: 100%;
  }
  .product {
    width: 80%;
    justify-content: center;
  }
  .navigator {
    display: none;
  }
  h1,
  h2 {
    font-size: 2.5rem;
  }
  input {
    width: 100%;
    font-size: 0.8rem;
  }
  .newsletter-section {
    text-align: center;
    font-size: 1.2rem;
  }
}
