body {
  margin: 0;
}
header {
  background-color: antiquewhite;
  position: sticky;
  top: 0;
  border-radius: 0 0 30px 30px;
  box-shadow: 10px 5px 20px rgba(128, 128, 128, 0.555);
  margin-bottom: 2rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li{
  margin: 1rem;
}
.profile-pic {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
}
.logo {
  object-fit:scale-down;
  height: 5rem;
  width: 7rem;
}
img {
  width: 30%;
}
.hero-img {
  width: 100%;
}
.icon {
  width: 3%;
}
a {
  size: auto;
}
